:root {
    --clrDark: hsl(0, 0%, 10%);
    --clrLight: hsl(0, 0%, 87%);
    --clrAccent: hsl(210, 100%, 60%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1rem;
}

body {
    background: var(--clrDark);
    color: var(--clrLight);
    width: max-content;
}

button,
input,
select {
    cursor: pointer;
}

select,
#saveButton,
#hotkey_key_select {
    background: var(--clrAccent);
    color: var(--clrDark);
}

option,
#settingsPage {
    background-color: var(--clrDark);
    color: var(--clrAccent);
}

#bottomButtons {
    display: flex;
    gap: 2px;
}

#saveButton {
    flex: 13;
}

#settingsButton {
    background: var(--clrAccent) url('https://upload.wikimedia.org/wikipedia/commons/5/58/Ic_settings_48px.svg') no-repeat 0 0 / contain;
    flex: 1;
}

#parametersPage {
    display: grid;
    margin: 2px 0 2px 2px;
}

#parametersPage,
#settingsPage {
    grid-template-columns: max-content max-content;
    gap: 2px;
    text-align: right;
}

#settingsPage {
    display: none;
    border: 1px solid var(--clrAccent);
    position: fixed;
    padding: 5px 25px;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
}

#hide_button_select,
#hotkey_key_select,
#focus_select {
    width: 24px;
    height: 24px;
    text-align: center;
    align-self: center;
    justify-self: left;
}
