:root {
    --clrDark: hsl(0, 0%, 10%);
    --clrLight: hsl(0, 0%, 75%);
    --clrAccent: hsl(210, 100%, 60%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1rem;
}

body {
    background: var(--clrDark);
    color: var(--clrLight);
    width: max-content;
}

.container {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 2px;
    margin: 2px 0 5px 2px;
    text-align: right;
}

select {
    background: var(--clrAccent);
    color: var(--clrDark);
    margin-right: 2px;
    text-indent: 2px;
    width: 100%;
}

#save {
    background: var(--clrAccent);
    color: var(--clrDark);
    width: 100%;
}
